{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Ton profil</h1>
    <br><hr><br>
    <div id="appList" class="jumbotron">
        <p>Voilà la liste des entreprises dans lesquelles tu as candidaté :</p>
        <ul class="list-group">
            {% for application in applications %}
                <li class="list-group-item d-flex justify-content-between align-items-center">{{ application.getListID.getCompanyName }}</li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
