{% extends 'base.html.twig' %}

{% block body %}
    <h1>Crées ton compte !</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword) }}

        <button class="btn btn-primary">S'enregistrer</button>
    {{ form_end(registrationForm) }}
{% endblock %}
