{% extends 'base.html.twig' %}


{% block body %}
    <div class="jumbotron">
        <br>
        <h1 class="text-center">Yo!</h1>
        <br>
        <section>
            <p class="text-justify">Bon faites pas attention au titre du site, je suis indécrottable à ce niveau-là ! <br><br>
                Plus sérieusement, ce site a pour vocation, comme je vous l'avais expliqué en classe, à recenser toutes les entreprises
                que vous arriverez à trouver pendant vos recherches de stage. Le but étant de constituer une petite base de données d'entreprises
                qui peuvent potentiellement plaire à vous et vos collègues.
            </p>
            <p class="text-justify">
                Je vais pas vous faire un schéma, vous remplissez le formulaire et ça met à jour le tableau, faites-vous plaisir.
                Je sais que c'est forcément facile quand on a pas l'esprit à ça mais essayez de vous souvenir de ce site pendant vos recherches,
                ça permettra peut-être, même si la boîte vous intéresse pas particulièrement vous, d'aider un des nôtres à trouver un stage !
            </p>
            <p class="text-center">
                Soyez sages!
            </p>
        </section>
    </div>


{% endblock %}
