html {
    height: 100%;
}

body {
    min-height: 100%;
    /*position: relative;*/
}

nav {
    margin-bottom: 25px;
}

footer {
    /*position: absolute;*/
    bottom: 0 !important;
    left: 0;
    right: 0;
    padding: 15px;
}

.container {
    margin-bottom: 35px;
}

#appList {
    margin-bottom: 125px;
}