{% extends 'base.html.twig' %}

{#{% form_theme listingForm 'bootstrap_4_layout.html.twig' %}#}

{% block body %}
    <main>
        <section id="table">
            <h2 class="text-center">Liste des entreprises</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <td>Nom de l'entreprise</td>
                    <td>Description</td>
                    <td>URL du site</td>
                    <td>Nom du contact</td>
                    <td>Email du contact</td>
                    <td>Téléphone du contact</td>
                    <td>Candidats actuels</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                {% for list in listing %}
                    <tr>
                        <td>{{ list.companyName }}</td>
                        <td>{{ list.description }}</td>
                        <td>{{ list.websiteURL }}</td>
                        <td>{{ list.contactName }}</td>
                        <td>{{ list.contactEmail }}</td>
                        <td>{{ list.contactPhone }}</td>
                        <td>{{ list.applications | length }}</td>
                        <td><a href="{{ path('apply', {listID: list.id})}}"><button id="apply" class="btn btn-info">Candidater</button></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>

        <br>
        <hr>
        <button id="addFormBtn" type="button" class="btn btn-secondary btn-lg btn-block">Ajouter une entreprise</button>
        <br>

        <section id="addForm">
            {{ form_start(listingForm) }}
            {{ form_row(listingForm.companyName, {'label': 'Nom de l\'entreprise'}) }}
            {{ form_row(listingForm.description, {'label': 'Description de l\'entreprise','attr': {'placeholder': 'décrivez en quelques mots l\'entreprise'}}) }}
            {{ form_row(listingForm.websiteURL, {'label': 'URL du site de l\'entreprise'}) }}
            {{ form_row(listingForm.contactName, {'label': 'Nom d\'une personne à contacter'}) }}
            {{ form_row(listingForm.contactEmail, {'label': 'Email de ce contact'}) }}
            {{ form_row(listingForm.contactPhone, {'label': 'Téléphone de ce contact'}) }}

            <button type="submit" class="btn btn-primary">Enregistrer</button>
            {{ form_end(listingForm) }}
        </section>
    </main>

{% endblock %}